<h3>Le 14 Octobre 2020</h3>
<div class="container con_div">
    <div class="premier">
        <div class="links unterCount">
            <span class="überschrift_zahl"> {{ day }} </span>
            <span class="überschrift_name">Jours</span>
        </div>
        <div class="rechts unterCount">
            <span class="überschrift_zahl"> {{ strHour }} </span>
            <span class="überschrift_name">heures</span>
        </div>
    </div>

    <div class="deuxieme">
        <div class="links unterCount">
            <span class="überschrift_zahl"> {{ strMinute }} </span>
            <span class="überschrift_name">Minutes</span>
        </div>
        <div class="rechts unterCount">
            <span class="überschrift_zahl"> {{ strSecond }} </span>
            <span class="überschrift_name">Secondes</span>
        </div>
    </div>
</div>

<!--
    <div class="container con_div">
        <div class="row">
            <div class="col-3 col-xs-0"></div>
            <div class="col-3 col-xs-6">
                <div class="unterCount">
                    <span class="display-3"> {{ day }} </span>
                    <span>Days</span>
                </div>
            </div>
            <div class="col-3 col-xs-6 ">
                <div class="unterCount">
                    <span class="display-3"> {{ strHour }} </span>
                    <span>Hours</span>
                </div>
            </div>
            <div class="col-3 col-xs-0"></div>
        </div>

        <div class="row">
            <div class="col-3 col-xs-0"></div>
            <div class="col-3 col-xs-6 ">
                <div class="unterCount">
                    <span class="display-3"> {{ strMinute }} </span>
                    <span>Minutes</span>
                </div>
            </div>
            <div class="col-3 col-xs-6 ">
                <div class="unterCount">
                    <span class="display-3"> {{ strSecond }} </span>
                    <span>Seconds</span>
                </div>
            </div>
            <div class="col-3 col-xs-0"></div>
        </div>
    </div>
-->