<div class="gesamt">
    <div class="lien_participation">
        <h3>Participez aux événements</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio aliquid aut autem rem aperiam, praesentium eaque non. Optio, rem qui ad accusamus perferendis dignissimos ipsum voluptatum hil autem, quos molestiae!</p>
        <button class="btn btn-success">Rejoignez Nous</button>
    </div>

    <div class="lien_cadeau">
        <h3>Cadeaux de mariage</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio aliquid aut autem rem aperiam, praesentium eaque non. Optio, rem qui ad accusamus perferendis dignissimos ipsum voluptatum hil autem, quos molestiae!</p>
        <button class="btn btn-danger">Rejoignez Nous</button>
    </div>

    <div class="lien_Voeux">
        <h3>Formuler un voeux aux mariées</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio aliquid aut autem rem aperiam, praesentium eaque non. Optio, rem qui ad accusamus perferendis dignissimos ipsum voluptatum hil autem, quos molestiae!</p>
        <button class="btn btn-success">Rejoignez Nous</button>
    </div>
</div>


<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>