

<div class="caroussel">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper bild_class">
        <img src="../../assets/bilder/Photo_1.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3 class="banner-par">6 seconds between slides...</h3>
        <p class="banner-heading">This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper bild_class">
        <img src="../../assets/bilder/Photo_2.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3 class="banner-par">No mouse events...</h3>
        <p class="banner-heading">This carousel doesn't pause or resume on mouse events</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper bild_class">
        <img src="../../assets/bilder/Photo_3.jpg"  alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3 class="banner-par">No keyboard...</h3>
        <p class="banner-heading">This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper bild_class">
        <img src="../../assets/bilder/Photo_4.jpg" alt="Random fourth slide">
      </div>
      <div class="carousel-caption">
        <h3 class="banner-par">And no wrap after last slide.</h3>
        <p class="banner-heading">This carousel uses customized default values.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<!--
<div style="background-color:cornflowerblue;">
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
</div>
-->






